<h1>{{ title }}</h1>
<p>Welome to {{ title }}. Enter a location below to view the weather</p>

<form action="/current-temp" method="post">
    <input type="text" id="address" name='address' placeholder="Location">
    <button type="submit">Submit</button>
</form>